@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-950 text-slate-100;
}

body {
  @apply min-h-screen bg-slate-950 text-slate-100 antialiased;
}

a {
  @apply text-brand;
}
